#sidebar {
  width: 50%;
  height: 90%;
  position: fixed;
  z-index: 2;
  right: 0px;
  top: 50px; }
  #sidebar ul {
    background: white; }
    #sidebar ul li {
      color: #999;
      border-bottom: 1px solid #ccc;
      padding: 10px 20px; }
