#sidebar {
  width: 50%;
  height: 90%;
  position: fixed;
  z-index: 2;
  right: 0px;
  top: 50px; }
  #sidebar ul {
    background: white; }
    #sidebar ul li {
      color: #999;
      font-size: 16px;
      width: 200px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-bottom: 1px solid #ccc; }
