#register #header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eee;
  line-height: 50px; }
  #register #header span:nth-of-type(2) {
    margin: 0px 135px;
    font-size: 16px;
    color: #666; }

#register > p {
  color: #666;
  line-height: 50px; }

#register form {
  width: 80%;
  margin: auto; }
  #register form input {
    width: 98%;
    border: 0;
    background: #eee;
    color: #999;
    border-radius: 20px;
    height: 40px;
    text-indent: 10px;
    margin-bottom: 20px; }
  #register form > div {
    overflow: hidden; }
    #register form > div .left {
      float: left;
      width: 200px; }
    #register form > div .right {
      float: right;
      line-height: 40px;
      margin-right: 5px;
      padding: 0px 30px;
      border: 1px solid #F74F8C;
      color: #F74F8C;
      border-radius: 20px; }
  #register form > p {
    line-height: 30px;
    font-size: 12px;
    color: #999; }
  #register form button {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 20px;
    background: #F691CC;
    color: white; }
